{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div>
    <div class="text-center">
        <h3>Add Your Profile</h3>
        <hr style="color:maroon;">
    </div>
    
    <form action="{%url 'update_profile' user.id%}" method="POST" enctype="multipart/form-data" style="margin: 20%; margin-top:1% ;">
        {%csrf_token%}    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success " value="Create Profile">
    </form>
</div>
{% endblock %}