{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% block content %}

{% if project.image %}
<section class="container" 
 style="height: 70vh; width:100;margin: auto; background-repeat: no-repeat;background-size: cover;background-position: center; 
 background-image: url({{project.image.url}})">
    {% else %}
    <section class="single-top-header">
        {% endif %}
        <div class="header">
            <div class="container">
                <div class="row">
                    <!-- check if author profile exists -->
                    {% if project.user.profile_pic_path %}
                    <img src="{{ user.profile_pic_path }}" alt="author" height="200">
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    <section class="blog-container p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="card-title">Title: {{project.project_name}}</h2>
                    <p class="card-text "><b>Description: </b>{{project.project_description}}</p>
                    <p class="user text-success">
                    <p>By: <b><em>{{user.username}}</em></b></p>
                </div>
            </div>
            <div class="col-md-10">
                <form action="{%url 'review_project' project.id %}" method="POST">
                  {% csrf_token %}
                    <table class="table table-black ">
                        <thead>
                            <tr>
                                <th scope="col">Design</th>
                                <th scope="col">Content</th>
                                <th scope="col">Usability</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" name="design" min="0"max="10" value="0"></td>
                                <td><input type="number" class="form-control" name="content" min="0"max="10" value="0"></td>
                                <td> <input type="number" class="form-control" name="usability" min="0"max="10" value="0"></td>
                            </tr>
                        </tbody>
                </table>
                <button class="btn btn-success btn-lg" type="submit">Review</button>
            </form>
          </div>
          </div>
        </div> 
        <br>
        <hr>
        <div class="container-fluid text-light text-centre ">
            <h2 class="text-center text-light">This Project's Reviews</h2>
            <br>
            <div class="col-md-12">
            {% for review in reviews %}
            <div class="row text-center">
                <div class="col-md-2" style="border-left: solid 1px red;">
                    <p>Reviewer:  {{review.user.username}}</p>
                </div>
                <div class="col-md-2" style="border-left: solid 1px red;">
                    <p>Design: {{review.design_review}}</p>   
                </div>
                <div class="col-md-2" style="border-left: solid 1px red;">
                    <p>Content: {{review.content_review}}</p>
                </div>
                <div class="col-md-3" style="border-left: solid 1px red;">
                    <p>Usability:{{review.usability_review}}</p>
                </div>
            </div>
            {% empty %}
              <p class="alert alert-danger text-center"role="alert">No Reviews yet!</p>
            {% endfor %}
            </div> 
          </div>
        </div>
    </section>


{% endblock %} 