{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div style="left: 0;background-color: #111; height: 100%;width: 50%;position: fixed;z-index: 1;top: 0;overflow-x: hidden;padding-top: 20px;" class="split left">
    <div style="height: 100%; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;" class="centered">
        <img height="100%" src="https://assets.awwwards.com/assets/images/pages/about-certificates/awwwards.jpg" alt="">
    </div>
</div>


<div style="right: 0;background-color: lightblue; height: 100%;width: 50%;position: fixed;z-index: 1;top: 0;overflow-x: hidden;padding-top: 70px;" class="split right">
    <div class="my_signin_div" style="border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: auto;">
        <h2 class="text-center">Log In</h2>
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
        <form action="" method="POST">
        {% csrf_token %}
            <label for="fname">Username</label>
            <input style="width: 100%;
            background-color: lightblue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;" class="signin_input" type="text" id="username" name="username" placeholder="Your username..">
    
            <label for="lname">Password</label>
            <input style="width: 100%;background-color: lightblue;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;" class="signin_input" type="password" id="password" name="password" placeholder="Your password..">
    
            <input type="submit" style="padding: 10px 30px;margin: 10px;" class="signin_button btn btn-primary btn-sm" value="Log In">
    
            <div class="mt-5">
                <p class="">Don't Have An account?<b><a href="{% url 'signup' %}" class=""> Sign Up</a></b></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}