{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
        <h1 class="text-center">upload Your Project</h1>
        <div class="form-data text-light mx-6" >
            <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form%}
                <button class="btn btn-info bg-success" type="submit">Upload</button>
            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}