{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="col-sm-6 form-container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class=" text-success" >upload Your Project here</h1>
           
           
            
        </div>
    </div>
        <div class="form-data text-light mx-6" >
            <form action="{%url 'upload'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="intro text-light">Upload my project</h2>
                {% bootstrap_form form%}
                <button class="btn btn-info bg-success" type="submit">Upload</button>
            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}